{% extends 'base.html' %}

{% block title %}Удаление статьи{% endblock %}

{% block content %}
<div class="container text-center my-5" style="max-width: 500px;">
    <div class="card border-0 shadow-sm p-5">
        <h2 class="text-danger mb-4">🚨 Удаление статьи</h2>
        <p class="lead mb-4">Вы уверены, что хотите навсегда удалить статью <br><strong>"{{ object.title }}"</strong>?</p>
        
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger px-4 me-2">Да, удалить</button>
            <a href="{% url 'blog:list' %}" class="btn btn-secondary px-4">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}

